In [23]:
import pandas as pd

In [24]:
data = pd.read_csv('archive\cleaned_data.csv')
data.head()

   BI-RADS  Age  Shape  Margin  Density  Severity
0        5   67      3       5        3         1
1        5   58      4       5        3         1
2        4   28      1       1        3         0
3        5   57      1       5        3         1
4        5   76      1       4        3         1

In [25]:
data.dropna()
data

     BI-RADS  Age  Shape  Margin  Density  Severity
0          5   67      3       5        3         1
1          5   58      4       5        3         1
2          4   28      1       1        3         0
3          5   57      1       5        3         1
4          5   76      1       4        3         1
..       ...  ...    ...     ...      ...       ...
825        4   47      2       1        3         0
826        4   56      4       5        3         1
827        4   64      4       5        3         0
828        5   66      4       5        3         1
829        4   62      3       3        3         0

[830 rows x 6 columns]

In [26]:
data.to_csv('Mammographic Mass Data Set.csv')